
" IPv6 address patterns for nftables
" Simplistic static patterns
syn match nft_payload_expr_ip6_addr '\v::[0-9a-fA-F]{1,4}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v::\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v[0-9a-fA-F]{1,4}::\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v::ffff:[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\ze[ \t\n;]'

" Complex wildcardy patterns
syn match nft_payload_expr_ip6_addr '\v([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){6}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v([0-9a-fA-F]{1,4}:){1}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){5}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v([0-9a-fA-F]{1,4}:){2}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){4}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v([0-9a-fA-F]{1,4}:){3}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){3}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v([0-9a-fA-F]{1,4}:){4}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){2}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v([0-9a-fA-F]{1,4}:){5}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){1}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v([0-9a-fA-F]{1,4}:){6}::[0-9a-fA-F]{1,4}\ze[ \t\n;]'
syn match nft_payload_expr_ip6_addr '\v[0-9a-fA-F]{1,4}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){6}\ze[ \t\n;]'

" Fallback for compressed IPv6
syn match nft_payload_expr_ip6_addr '\v[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){0,6}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){0,6}\ze[ \t\n;]'

" IPv6/CIDR address patterns for nftables
" Simplistic static patterns
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2 '\v::(\/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_3 '\v::[0-9a-fA-F]{1,4}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_primary_stmt_expr,
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_1 '\v[0-9a-fA-F]{1,4}::(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_8h '\v::ffff:[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt

" Complex wildcardy patterns
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_8f '\v([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2b6 '\v::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){6}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_4a1 '\v([0-9a-fA-F]{1,4}:){1}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){5}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2a2 '\v([0-9a-fA-F]{1,4}:){2}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){4}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2a3 '\v([0-9a-fA-F]{1,4}:){3}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){3}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2a4 '\v([0-9a-fA-F]{1,4}:){4}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){2}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2a5 '\v([0-9a-fA-F]{1,4}:){5}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){1}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2a6 '\v([0-9a-fA-F]{1,4}:){6}::[0-9a-fA-F]{1,4}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_3a7 '\v[0-9a-fA-F]{1,4}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){6}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt

" Fallback for compressed IPv6
syn match nft_payload_expr_ip6_addr_optional_cidr_suffix_2x2 '\v[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){0,6}::[0-9a-fA-F]{1,4}(:[0-9a-fA-F]{1,4}){0,6}(/((12[0-8])|(1[0-1][0-9])|([1-9][0-9])|([0-9]))){0,1}\ze[ \t\n;]' skipwhite contained
\ nextgroup=
\    @nft_c_stmt

syn cluster nft_c_payload_expr_ip6_addr_optional_cidr_suffix
\ contains=
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_8h,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_8f,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_4a1,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_3a7,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_3,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2b6,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2a2,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2a3,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2a4,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2a5,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2a6,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_2x2,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix_1,

hi link   nft_payload_expr_ip6_keyword_daddr nftHL_Keyword
syn match nft_payload_expr_ip6_keyword_daddr '\vdaddr\ze[ \t]' skipwhite contained
\ nextgroup=
\    nft_close_scope_ip_primary_expr_constant_expr_at_setname,
\    nft_payload_expr_ip6_addr_optional_cidr_suffix,
\    @nft_c_primary_stmt_expr,
\    @nft_c_map_expr_rhs_expr,
\    nft_stmt_expr_map_stmt_expr_keyword_map,
\    nft_Error

hi link   nft_constant_expr_ip4_keyword_addr nftHL_Integer
syn match nft_constant_expr_ip4_keyword_addr '\v(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])(/(3[0-2]|[12]\d|\d)){0,1}\ze[ \t]' skipwhite contained

hi link   nft_constant_expr_ip4_keyword_addr nftHL_Integer
syn match nft_constant_expr_ip4_keyword_addr '\v(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|[0-9])(/(3[0-2]|[12]\d|\d)){0,1}\ze[ \t]' skipwhite contained



hi link   nft_constant_expr_integer_uint16 nftHL_Integer
syn match nft_constant_expr_integer_uint16 '\v(6553[0-5]|655[0-2]\d|65[0-4]\d\d|6[0-4]\d\d\d|[1-5]\d{4}|\d{1,4})\ze[ \t]'  skipwhite contained

hi link   nft_constant_expr_integer_uint16_hex nftHL_Integer
syn match nft_constant_expr_integer_uint16_hex '\v(0x([A-Fa-f]\d{3}|[A-Fa-f]{2}\d{2}|[A-Fa-f0-9]{1,4})|6553[0-5]|655[0-2]\d|65[0-4]\d\d|6[0-4]\d\d\d|[1-5]\d{4}|\d{1,4})\ze[ \t]' skipwhite contained

hi link   nft_constant_expr_integer_uint8 nftHL_Integer
syn match nft_constant_expr_integer_uint8 '\v(25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)\ze[ \t]' skipwhite contained

hi link   nft_constant_expr_integer_uint8_hex nftHL_Integer
syn match nft_constant_expr_integer_uint8_hex '\v(0x([A-Fa-f]\d|[A-Fa-f]{2}|[0-9A-Fa-f])|25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)\ze[ \t]' skipwhite contained

